.Askform{
    padding-top: 2.5%;
    max-width:1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding:15px;
    text-align: left;
    margin-top:60px;
    border-radius:2px;
}

.Askform label{
    font-weight: 700;
    font-size: 25px;
    font-style:  sans-serif;
    margin-left:5px;
}

.askFormButton {
    padding-right: 3.5%;
    padding-left: 3.5%;
    margin-left: 25%;
}

.clearButton {
    margin-left: 25%;
    padding-right: 3.5%;
    padding-left: 3.5%;
}
.form-group label{
  text-align: left;
}
