.Askform{
    padding-top: 2.5%;
    max-width:1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding:5px;
    text-align: left;
    margin-top:50px;
}

.Askform label{
    font-weight: 700;
    font-size: 25px;
    font-style:  sans-serif;
}

.askFormButton {
    margin-left: 50%;
}
.form-group label{
  text-align: left;
}
