#Navbar{
    background-color: #B92B27;
    
    border: 1px solid;
}
.nav-item{
    color:white!important;
    margin:2px;
}
.navbar-nav{
    margin-left:auto;
}
.dashBoard-icon{
    align-self:left;
    margin-right:auto;
    margin-left:0;
}